<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="flip-up" data-aos-duration="1200">
    <img [src]="imagePath" class="rounded img-responsive" alt="wrapkit" />
    
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <h3 class="font-light">
        Le grenier vous permet de 
        <span class="text-info">faire un don, ou bien de redonner une seconde chance à un objet</span> et tout cela depuis chez vous.
      </h3>
      <br>
      <p>
        Le grenier est fait pour atteindre un but commun: limiter les déchets, faire naitre un esprit de partage entre les gens 
        et ainsi avoir la possibilité de vivre dans un monde meuilleur.
      </p>
      <p>
        
      </p>

      
    </div>
  </div>
  <!-- Column -->
</div>
